.container {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;


}

.center,
.score {
  display: inline;
  font-size: 50px;
}

.item {
  height: 100px;
  border: solid, black;
}
