<div class="main-layout">
  <div class="character">
      <div class="inner-layout">
        <img src="../../assets/super-1.png" alt="">
        <p class="name">Spiderman</p>
        <p class="power">32</p>
      </div>
      <div class="inner-layout">
          <img src="../../assets/super-3.png" alt="">
           <p class="name">Wonder-woman</p>
          <p class="power">39</p> 
      </div>
      <div class="score">
        <p>5</p>
        <p>-</p>
        <p>0</p>
    </div>

    <div class="inner-layout">
      <img src="../../assets/super-2.png" alt="">
      <p class="name">Captain america</p>
            <p class="power">35</p>
    </div>
    <div class="inner-layout">
      <img src="../../assets/super-4.png" alt="">
      <p class="name">Gem-Women</p>
      <p class="power">30</p>

    </div>
  </div>
</div>
